/*FOOTER*/
/*PRIMARY FOOTER*/
.primary-footer {
  background-color: rgb(228, 222, 222);
  margin-top: 80px;
  width: 100%;
  height: 500px;
  display: flex;
  margin-bottom: 20px;
}
.container-footer {
  margin: 140px auto;
  border-top: 1px solid lightslategrey;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;

  width: 70%;
}
.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 25%;
}
.info-box ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}

.info-box h4 {
  display: flex;
  align-self: flex-start;
  font-size: 1.3em;
  margin: 0
}
.info-box li {
  display: flex;
  list-style: none;
  padding-left:  0;
  margin-left: 0;
}
.info-box a {
  text-decoration: none;
  color: grey;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
}
/*SECONDARY FOOTER*/
.secondary-footer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1em;
}
.secondary-footer a {
  text-decoration: none;
}
#brand-copyrigth {
  color: #000;
}
.policies li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}
.policies a {
  color: #1c69d4;
}
